
   circle {
  
    fill: tomato;
    opacity: 0.5;
    stroke: black;
    
  }
  
  text{
  
    font-size: 2em;
    font-family: sans-serif
  }

  .legend text{

    font-size: 1em;

  }

  .legend rect{

    opacity: 0.5;

  }